#root  {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  
}

body {
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 33%;
  display: flex;
  margin: auto;
}

.tasks-container {
  border: 1px solid black;
  flex: 1;
  border-radius: 1rem;
  overflow: scroll;
}

.task {
  display: flex;
  border-radius: 0.5rem;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}

.style-text-crossed {
  text-decoration: line-through;
}

